<form [formGroup]="userForm"  (ngSubmit)="onSubmit()" #myForm="ngForm">
    <fieldset>
        <label for="userName">Nom d'utilisateur : </label>
        <input type="text" formControlName="userName" name="userName">
    </fieldset>
    <div *ngIf="formSubmitted && userForm.controls.userName.errors?.['required']">
        <span>Il faut renseigné un nom d'utilisateur</span>
    </div>

    <div formGroupName="credentials">
        <fieldset>
            <label for="email">Email</label>
            <input type="text" formControlName="email" name="email">
        </fieldset>
        <div *ngIf="formSubmitted && userForm.get('credentials.email')?.errors?.['invalidEmailFormat']">
            <span>Le format de l'email n'est pas valide</span>
          </div>
          <div *ngIf="formSubmitted && userForm.get('credentials.email')?.errors?.['emailNotEndingWithWilderSchool']">
            <span>L'email doit se terminer par wilder.school</span>
          </div>
        <fieldset>
            <label for="password">Mot de passe</label>
            <input type="text" formControlName="password" name="password">
        </fieldset>
    </div>

    <div formGroupName="adress">
        <fieldset>
            <label for="street">Rue</label>
            <input type="text" formControlName="street" name="street">
        </fieldset>
        <fieldset>
            <label for="city">Ville</label>
            <input type="text" formControlName="city" name="city">
        </fieldset>
        <fieldset>
            <label for="number">Code postal</label>
            <input type="number" formControlName="number" name="number">
        </fieldset>
    </div>
    <button type="submit">S'inscrire</button>
</form>

<div *ngIf="userList.length > 0">
    <p>Nouveau utilisateur enregistré :</p>
    <ul>
      <li *ngFor="let user of userList">
        <p>Nom d'utilisateur : {{ user.userName }}</p>
        <p>Email : {{ user.credentials.email }}</p>
        <p>Mot de passe : confidentiel </p>
        <p>Adresse : {{user.adress.street}} {{ user.adress.city}} {{user.adress.number}}</p>
      </li>
    </ul>
  </div>