<form (ngSubmit)="onSubmit()" [formGroup]="filmForm" #myForm="ngForm">
    <div formGroupName="info" name="info">
        <fieldset>
            <label for="identifier">Identifiant </label>
            <input type="text" name="identifier" formControlName="identifier">
        </fieldset>
        <fieldset>
            <label for="title">Titre</label>
            <input type="text" name="title" formControlName="title">
        </fieldset>
    </div>
    <!-- Messaged d'erreur Identifiant ou Titre -->
    <div>
        <span *ngIf="formSubmitted && filmForm.controls.info.errors?.['isRequired']">
            L'un des deux champs 'Identifiant' ou 'Titre' doit être renseigné
        </span>
    </div>
    <fieldset formGroupName="type"> 
        <label for="type">Type</label>
        <select name="type" formControlName="serie">
            <option value="film">Film</option>
            <option value="serie">Série</option>
            <option value="episode">Episode</option>
        </select>
    </fieldset>
    <fieldset>
        <label for="years">Année de sortie</label>
        <input type="number" name="years" formControlName="years">
    </fieldset>
    <!-- Message d'erreur pour l'année -->
    <div>
        <span *ngIf="formSubmitted && filmForm.controls.years.errors?.['min']">
            L'année doit être comprise entre {{filmForm.controls.years.errors?.['min'].min}} 
            et {{filmForm.controls.years.errors?.['min'].max}}
        </span>
    </div>
    <fieldset formGroupName="fiche"> 
        <label for="fiche">Fiche</label>
        <select name="fiche">
            <option value="complete">Complète</option>
            <option value="courte">Courte</option>
        </select>
    </fieldset>
    <button type="submit">Rechercher</button>
</form>